<!-- <app-header></app-header>
<router-outlet></router-outlet> -->

<div>
    <div>
        <h1>Trading Project</h1>
        <ul>
            <li>First name</li>
            <li>Last name</li>
            <li>Email</li>
            <li>Password</li>
        </ul>
        <div>
            <input tpe="text" placeholder="First name" />

            <input tpe="text" placeholder="Last name" />

            <input tpe="text" placeholder="Email" />

            <input tpe="text" placeholder="Password" />

            <button>Signup</button>
            
            <button>sign in instead</button>
        </div>
    </div>
</div>